<div class={{styleNamespace}}>
  <div class="viewport" {{prop style=this.transform}}>
    {{#each photos as |photo|}}
      <a class="slide">
        <div class="image-wrapper">
          <div style="background-image: url({{photo}})" class="image"></div>
        </div>
      </a>
    {{/each}}
  </div>

  <div class="controls">
    <a {{action "move" -1}} class="control" href="#">
      {{fa-icon "angle-left"}}
    </a>
    <span class="control-sm">
      {{currentSlideDisplay}} / {{photos.length}}
    </span>
    <a {{action "move" 1}} class="control" href="#">
      {{fa-icon "angle-right"}}
    </a>
  </div>
</div>
