<RouteContainer @title={{model.title}} @subtitle={{model.subtitle}}>
  <IntlSection @t_ns={{model.t_ns}} @section="overview" as |t_ns|>
    <p>{{t (concat t_ns "intro")}}</p>
    <IntlImage @t_ns={{t_ns}} @image="best_friends" />
  </IntlSection>


  <PatternExampleContainer
    @example_name="carousel"
    @t_ns={{model.t_ns}}
    @code_location="app/pods/components/declarative-carousel"
  as |t_ns|>
    <DeclarativeCarousel
      @photos={{model.photos}}
    />
  </PatternExampleContainer>

  <PatternExplanation @t_ns={{model.t_ns}} as | P |>
    <P.use-cases />
    <br>
    <P.rabbit-holes />
    <br>
    <P.references />
  </PatternExplanation>
</RouteContainer>
